* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: red;
  background-color: cyan;
  padding: 50px;
}

h1,
h2 {
  border-style: solid;
  border-color: blue;
  padding-bottom: 16px;
}

p {
  padding-top: 25px;
}

form {
  margin-top: 25px;
  padding: 25px;
}
